FORMAT: 1A
HOST: http://cashify.reglobe.in/

# Reglobe-Cashify-API

Cashify is a simple API allowing consumers to sell their gadgets & get instant cash.

# Group App Module

## Home Cards [/home-cards{?brand,model,device_id,storage,pincode}]

Action to get array of Featured Products.

+ Cashing
<table>
    <tr>
        <td>Enable</td>
        <td>false</td>
    </tr>
    <tr>
        <td>Vary By</td>
        <td>None</td>
    </tr>
     <tr>
        <td>Partial Versioning</code></td>
        <td>false</td>
    </tr>
</table>

+ Parameters
    + brand: onePlus (required, text) - brand name of current device
    + model: one (required, text) - model name of the current device
    + device_id: d123 (required, text) - Device id of the current device
    + storage: 64 (required, text) - Device storage of the current device
    + pincode: 122001 (required, number) - Pincode for the city

### Get Home Cards [GET]
+ Response 200 (application/json)
| Attributes | Mask | Description | required |
| --- | --- | --- |
| card_id | ci | id of card | 1 |
| message_line_1 | l1 | line 1 message | 1 |
| message_line_2 | l2 | line 2 message | 1 |
| message_line_3 | l3 | line 3 message | 0 |
| message_line_4 | l4 | line 4 message | 0 |
| image_url | iu | image url | 1 |
| action | a | action of card | 0 |
| action_type | at | type of action | 0 |
| action_data | ad | data of action | 0 |
| sub_card_id | sci | id of sub card | 1 |
| exchange_url | eu | url of exchange | 0 |
| product_id | id | id of product | 0 |
| exchange_coupon_url | ecu | url of exchange coupon page | 0 |
| external_url | exu | external page url | 0 |
| internal_url | iu | internal page url | 0 |
| backup_url | bu | url for data back up | 0 |
| brand_id | ib | id of brand | 0 |
| category_id | ic | id of category | 0 |
| device_product_id | dpi | current device product id | 0 |
| quote_id | qid | id of quote | 0 |
| query_id | qi | query id of product | 0 |
| pincode | pc | pincode of quote | 0 |
                     
    + Header
    
            X-AUTHORIZATION: (Required) - 2fffc582-1ed2-4f17-80cf-3f608a91f93c
            X-USER-AUTH: (Option) - "user session"

    + Body
            
            {
              "_v": 0,
              "dt": [
                {
                  "ci": null,
                  "l1": "GET UPTO",
                  "l2": "&#8377 1,054",
                  "l3": "Exchange",
                  "l4": null,
                  "iu": "MacbookAir.jpg",
                  "a": {
                    "at": "exchg",
                    "ad": {
                      "eu": "https://www.google.co.in/"
                    }
                  },
                  "sc": [
                    {
                      "sci": 1,
                      "l1": "Line 1",
                      "l2": "Line 2",
                      "l3": "&#8377 3,000",
                      "iu": "iu.png",
                      "a": {
                        "at": "product",
                        "ad": {
                          "id": "205"
                        }
                      }
                    }
                  ]
                },
                {
                  "ci": null,
                  "l1": "GET UPTO",
                  "l2": "&#8377 1,054",
                  "l3": "Exchange Coupon",
                  "l4": null,
                  "iu": "MacbookAir.jpg",
                  "a": {
                    "at": "excoupon",
                    "ad": {
                      "ecu": "https://www.google.co.in/"
                    }
                  },
                  "sc": [
                    {
                      "sci": 1,
                      "l1": "Line 1",
                      "l2": "Line 2",
                      "l3": "&#8377 3,000",
                      "iu": "iu.png",
                      "a": {
                        "at": "product",
                        "ad": {
                          "id": "206"
                        }
                      }
                    }
                  ]
                },
                {
                  "ci": null,
                  "l1": "GET UPTO",
                  "l2": "&#8377 1,054",
                  "l3": "External Url",
                  "l4": null,
                  "iu": "MacbookAir.jpg",
                  "a": {
                    "at": "elink",
                    "ad": {
                      "exu": "https://www.google.co.in/"
                    }
                  },
                  "sc": [
                    {
                      "sci": 1,
                      "l1": "Line 1",
                      "l2": "Line 2",
                      "l3": "&#8377 3,000",
                      "iu": "iu.png",
                      "a": {
                        "at": "product",
                        "ad": {
                          "id": "207"
                        }
                      }
                    }
                  ]
                },
                {
                  "ci": null,
                  "l1": "GET UPTO",
                  "l2": "&#8377 1,054",
                  "l3": "Internal Url",
                  "l4": null,
                  "iu": "MacbookAir.jpg",
                  "a": {
                    "at": "ilink",
                    "ad": {
                      "iu": "https://www.google.co.in/"
                    }
                  },
                  "sc": [
                    {
                      "sci": 1,
                      "l1": "Line 1",
                      "l2": "Line 2",
                      "l3": "&#8377 3,000",
                      "iu": "iu.png",
                      "a": {
                        "at": "product",
                        "ad": {
                          "id": "208"
                        }
                      }
                    }
                  ]
                },
                {
                  "ci": null,
                  "l1": "GET UPTO",
                  "l2": "&#8377 1,054",
                  "l3": "Recieve Back",
                  "l4": null,
                  "iu": "MacbookAir.jpg",
                  "a": {
                    "at": "recbak",
                    "ad": {
                      "bu": "https://www.google.co.in/"
                    }
                  },
                  "sc": [
                    {
                      "sci": 1,
                      "l1": "Line 1",
                      "l2": "Line 2",
                      "l3": "&#8377 3,000",
                      "iu": "iu.png",
                      "a": {
                        "at": "product",
                        "ad": {
                          "id": "204"
                        }
                      }
                    }
                  ]
                },
                {
                  "ci": null,
                  "l1": "GET UPTO",
                  "l2": "&#8377 1,054",
                  "l3": "Brand",
                  "l4": null,
                  "iu": "MacbookAir.jpg",
                  "a": {
                    "at": "brand",
                    "ad": {
                      "ib": "21"
                    }
                  },
                  "sc": [
                    {
                      "sci": 1,
                      "l1": "Line 1",
                      "l2": "Line 2",
                      "l3": "&#8377 3,000",
                      "iu": "iu.png",
                      "a": {
                        "at": "product",
                        "ad": {
                          "id": "203"
                        }
                      }
                    }
                  ]
                },
                {
                  "ci": null,
                  "l1": "GET UPTO",
                  "l2": "&#8377 1,054",
                  "l3": "Category",
                  "l4": null,
                  "iu": "MacbookAir.jpg",
                  "a": {
                    "at": "category",
                    "ad": {
                      "ic": "19"
                    }
                  },
                  "sc": [
                    {
                      "sci": 1,
                      "l1": "Line 1",
                      "l2": "Line 2",
                      "l3": "&#8377 3,000",
                      "iu": "iu.png",
                      "a": {
                        "at": "product",
                        "ad": {
                          "id": "200"
                        }
                      }
                    }
                  ]
                },
                {
                  "ci": null,
                  "l1": "GET UPTO",
                  "l2": "&#8377 1,054",
                  "l3": "Product",
                  "l4": null,
                  "iu": "MacbookAir.jpg",
                  "a": {
                    "at": "product",
                    "ad": {
                      "id": "201"
                    }
                  },
                  "sc": [
                    {
                      "sci": 1,
                      "l1": "Line 1",
                      "l2": "Line 2",
                      "l3": "&#8377 3,000",
                      "iu": "iu.png",
                      "a": {
                        "at": "product",
                        "ad": {
                          "id": "201"
                        }
                      }
                    }
                  ]
                },
                {
                  "ci": null,
                  "l1": "GET UPTO",
                  "l2": "&#8377 1,054",
                  "l3": "Current Device",
                  "l4": null,
                  "iu": "MacbookAir.jpg",
                  "a": {
                    "at": "cdevice",
                    "ad": {
                      "dpi": "202"
                    }
                  },
                  "sc": [
                    {
                      "sci": 1,
                      "l1": "Line 1",
                      "l2": "Line 2",
                      "l3": "&#8377 3,000",
                      "iu": "iu.png",
                      "a": {
                        "at": "product",
                        "ad": {
                          "id": "202"
                        }
                      }
                    }
                  ]
                },
                {
                  "ci": null,
                  "l1": "GET UPTO",
                  "l2": "&#8377 1,054",
                  "l3": "Latest Quote",
                  "l4": null,
                  "iu": "MacbookAir.jpg",
                  "a": {
                    "at": "lquote",
                    "ad": {
                      "qid": "199",
                      "qi": "199",
                      "pc": "122001"
                    }
                  },
                  "sc": [
                    {
                      "sci": 1,
                      "l1": "Line 1",
                      "l2": "Line 2",
                      "l3": "&#8377 3,000",
                      "iu": "iu.png",
                      "a": {
                        "at": "product",
                        "ad": {
                          "id": "199"
                        }
                      }
                    }
                  ]
                }
              ],
              "biu": "http://s3t.reglobe.in/details/"
            }
        

## Featured Categories [/featured-categories{?pincode}]
Action to get array of offered Products with paging.

+ Cashing
<table>
    <tr>
        <td>Enable</td>
        <td>false</td>
    </tr>
    <tr>
        <td>Vary By</td>
        <td>None</td>
    </tr>
     <tr>
        <td>Partial Versioning</code></td>
        <td>false</td>
    </tr>
</table>

+ Parameters
    + pincode: 122001 (required, number) - Pincode for the city

### Get Featured Categories[GET]
+ Response 200 (application/json)
| Attributes | Mask | Description |
| --- | --- | --- |
| base_image_url | biu | Base Url of Image Folder |
| category_id | ci | Category id for the offered product|
| category_name | cn | category name for the offered product|
| image_uri | iu | Image Url for offered product|
| product_id | pi | Product id for the offered product list|
| product_name | pn | Product name for the offered product |
| Product amount | pa | Product amount for the offered product|
| data |dt| List of featured category|

    + Header
    
            X-AUTHORIZATION: (Required) - 2fffc582-1ed2-4f17-80cf-3f608a91f93c

    + Body
    
            {
              "_v": 0,
              "biu": "http://s3.reglobe.in/cashify/",
              "dt": [
                {
                  "ci": 19,
                  "cn": "Laptop",
                  "iu": "category_laptop.png",
                  "biu": "http://s3.reglobe.in/details/",
                  "dt": [
                    {
                      "pi": "199",
                      "pn": "Macbook Air MB003, 1.6 GHz Core Duo, A1237",
                      "iu": "MacbookAir.jpg",
                      "pa": 0
                    },
                    {
                      "pi": "200",
                      "pn": "Macbook Air MB543, 1.6 GHz Core 2 Duo, A1304",
                      "iu": "MacbookAir.jpg",
                      "pa": 0
                    },
                    {
                      "pi": "201",
                      "pn": "Macbook Air MC503, 1.86 GHz Core 2 Duo, A1369",
                      "iu": "MacbookAir.jpg",
                      "pa": 0
                    },
                    {
                      "pi": "202",
                      "pn": "Macbook Air MD508, 1.6 GHz Core i5, A1369",
                      "iu": "MacbookAir.jpg",
                      "pa": 0
                    },
                    {
                      "pi": "203",
                      "pn": "Macbook Air BTO/CTO MC966, 1.8 GHz Core i7, A1369",
                      "iu": "MacbookAir.jpg",
                      "pa": 0
                    },
                    {
                      "pi": "204",
                      "pn": "Macbook Air MC505, 1.4 GHz Core 2 Duo, A1370",
                      "iu": "MacbookAir.jpg",
                      "pa": 0
                    },
                    {
                      "pi": "205",
                      "pn": "Macbook Air MC968, 1.6 GHz Core i5, A1370",
                      "iu": "MacbookAir.jpg",
                      "pa": 0
                    },
                    {
                      "pi": "206",
                      "pn": "Macbook Air MC969, 1.6 GHz Core i5, A1370",
                      "iu": "MacbookAir.jpg",
                      "pa": 0
                    },
                    {
                      "pi": "207",
                      "pn": "Macbook Air MD223, 1.7 GHz Core i5, A1465",
                      "iu": "MacbookAir.jpg",
                      "pa": 0
                    },
                    {
                      "pi": "208",
                      "pn": "Macbook Air MD224, 2.0 GHz Core i5, A1465",
                      "iu": "MacbookAir.jpg",
                      "pa": 0
                    }
                  ]
                },
                {
                  "ci": 20,
                  "cn": "Mobile/Tab",
                  "iu": "category_mobile.png",
                  "biu": "http://s3.reglobe.in/details/",
                  "dt": [
                    {
                      "pi": "6537",
                      "pn": "Apple iPhone 4 16 GB Factory Unlocked",
                      "iu": "54c8a40a32815-iphone4black.jpg",
                      "pa": 0
                    },
                    {
                      "pi": "6538",
                      "pn": "Apple iPhone 4 32 GB Factory Unlocked",
                      "iu": "54c8a3b65206a-iphone4black.jpg",
                      "pa": 0
                    },
                    {
                      "pi": "6539",
                      "pn": "Apple iPhone 4 8 GB Factory Unlocked",
                      "iu": "54c8a43153694-iphone4black.jpg",
                      "pa": 0
                    },
                    {
                      "pi": "6540",
                      "pn": "Apple iPhone 4S 16 GB Factory Unlocked ",
                      "iu": "54c8a384101bd-iphone4sblack.jpg",
                      "pa": 0
                    },
                    {
                      "pi": "6541",
                      "pn": "Apple iPhone 4S 32 GB Factory Unlocked",
                      "iu": "54c8a354d2b78-iphone4sblack.jpg",
                      "pa": 0
                    },
                    {
                      "pi": "6542",
                      "pn": "Apple iPhone 4S 64 GB Factory Unlocked",
                      "iu": "54c8a31bdf631-iphone4swhite.png",
                      "pa": 0
                    },
                    {
                      "pi": "6543",
                      "pn": "Apple iPhone 4S 8 GB Factory Unlocked",
                      "iu": "54c8a73470a7e-iphone4sblack.jpg",
                      "pa": 0
                    },
                    {
                      "pi": "6544",
                      "pn": "Apple iPhone 5  64 GB (Factory Unlocked)",
                      "iu": "54c8a1dfdd50e-iphone5.jpg",
                      "pa": 0
                    },
                    {
                      "pi": "6545",
                      "pn": "Apple iPhone 5 16 GB (Factory Unlocked)",
                      "iu": "54c8a2e1eea8e-iphone5.jpg",
                      "pa": 0
                    },
                    {
                      "pi": "6546",
                      "pn": "Apple iPhone 5 32 GB (Factory Unlocked)",
                      "iu": "54c8a2b25f653-iphone5.jpg",
                      "pa": 0
                    }
                  ]
                }
              ]
            }
      
      
## Product Lines [/product-lines/all{?_v}]

A Product Category object has the following attributes:

+ Versioning
<table>
    <tr>
        <td>Enable</td>
        <td>true</td>
    </tr>
    <tr>
        <td>Vary By</td>
        <td>NA</td>
    </tr>
     <tr>
        <td>Partial Versioning</code></td>
        <td>false</td>
    </tr>
</table>

+ Parameters
    + _v: 1 (required, number) - version of data stored on server in form of an integer

### Get Product Lines[GET]

+ Response 200 (application/json)
| Attributes | Mask | Description |
| --- | --- | --- |
| version | _v | version is an integer value for versioning of data |
| base_image_url | biu | Base Url of Image Folder |
| productline_id | pli | id denotes id of every category |
| productline_data | dt | data contains array of product line |
| productline_name | pln | name of every category |
| image_uri | iu | imageUri denotes image name on server |
|layout_type| lt | layout type for the children
| default_calculator|dc| is enabled default calculator for the product line |

    + Header
    
            X-AUTHORIZATION: (Required) - 2fffc582-1ed2-4f17-80cf-3f608a91f93c

    + Body

            {
              "_v": 1,
              "biu": "http://s3.reglobe.in/cashify/",
              "lt": null,
              "dt": [
               {
                  "pli": 19,
                  "pln": "Laptop",
                  "iu": "category_laptop.png",
                  "dc": 0,
                  "lt": 0,
                  "sct": []
                },
                {
                  "pli": 20,
                  "pln": "Mobile/Tab",
                  "iu": "category_mobile.png",
                  "dc": 0,
                  "lt": 0,
                  "sct": []
                },
                {
                  "pli": 30,
                  "pln": "TEST",
                  "iu": "56208e90ab635-unnamed.png",
                  "dc": 1,
                  "lt": 0,
                  "sct": []
                },
                {
                  "pli": 31,
                  "pln": "This is Test product123",
                  "iu": "56208e597970f-unnamed.png",
                  "dc": 1,
                  "lt": 0,
                  "sct": []
                },
                {
                  "pli": 37,
                  "pln": "kalkulator",
                  "iu": "5638a737eeebc-images.jpg",
                  "dc": 1,
                  "lt": 0,
                  "sct": []
                },
                {
                  "pli": 38,
                  "pln": "LCD",
                  "iu": "icon_lcd.png",
                  "dc": 1,
                  "lt": 0,
                  "sct": []
                },
                {
                  "pli": 39,
                  "pln": "Motors",
                  "iu": "5638a88ca6062-images.jpg",
                  "dc": 1,
                  "lt": 0,
                  "sct": []
                },
                {
                  "pli": 21,
                  "pln": "Desktop",
                  "iu": "category_desktop.png",
                  "dc": 1,
                  "lt": 0,
                  "sct": []
                },
                {
                  "pli": 3,
                  "pln": "TV",
                  "iu": "category_tv.png",
                  "dc": 1,
                  "lt": 0,
                  "sct": [
                    {
                      "pli": 22,
                      "pln": "TV (LCD)",
                      "iu": "icon_lcd.png",
                      "dc": 1,
                      "lt": 0,
                      "sct": []
                    },
                    {
                      "pli": 23,
                      "pln": "TV (LED)",
                      "iu": "icon_led.png",
                      "dc": 1,
                      "lt": 0,
                      "sct": []
                    }
                  ]
                },
                {
                  "pli": 25,
                  "pln": "Gaming Consoles",
                  "iu": "category_gaming.png",
                  "dc": 1,
                  "lt": 0,
                  "sct": []
                },
                {
                  "pli": 27,
                  "pln": "Refrigerator",
                  "iu": "category_refridgerator.png",
                  "dc": 1,
                  "lt": 0,
                  "sct": []
                },
                {
                  "pli": 28,
                  "pln": "Air Conditioner",
                  "iu": "category_ac.png",
                  "dc": 1,
                  "lt": 0,
                  "sct": []
                },
                {
                  "pli": 29,
                  "pln": "Test Washing Machine",
                  "iu": "566e57f73d147-logo.png",
                  "dc": 0,
                  "lt": 0,
                  "sct": []
                }
              ]
            }

## Inactive Product Lines [/inactive-product-lines{?pincode}]

A Product Category object has the following attributes:

+ Versioning
<table>
    <tr>
        <td>Enable</td>
        <td>false</td>
    </tr>
    <tr>
        <td>Vary By</td>
        <td>NA</td>
    </tr>
     <tr>
        <td>Partial Versioning</code></td>
        <td>false</td>
    </tr>
</table>

+ Parameters
    + pincode: 122001 (required, number) - Pincode for the city

### Get Inactive Product Lines [GET]

+ Response 200 (application/json)
| Attributes | Mask | Description |
| --- | --- | --- |
| data_array | dt | list of inactive product line ids |

    + Header
    
            X-AUTHORIZATION: (Required) - 2fffc582-1ed2-4f17-80cf-3f608a91f93c

    + Body
    
            {
              "dt": [
                30,
                31,
                37,
                38,
                39,
                27,
                29
              ]
            }

            
## Sub Product Line [/sub_product_line{?_v,pl_id,lo_id}]

A Product Category object has the following attributes:

+ Versioning
<table>
    <tr>
        <td>Enable</td>
        <td>true</td>
    </tr>
    <tr>
        <td>Vary By</td>
        <td>NA</td>
    </tr>
     <tr>
        <td>Partial Versioning</code></td>
        <td>false</td>
    </tr>
</table>

+ Parameters
    + _v: 1 (required, number) - version of data stored on server in form of an integer
    + pl_id (required, number) - Product line id to get sub product line in default calculator.
    + lo_id (required, number) - last option id.

### Get Sub Product Line [GET]

+ Response 200 (application/json)
| Attributes | Mask | Description |
| --- | --- | --- |
| version | _v | version is an integer value for versioning of data |
| base_image_url | biu | Base Url of Image Folder |
| questions | dt | array of questions to get vertual product|
| question_id | qid | question id for the question |
| question_name | qn | question name |
| question_label | ql | question label for end user |
| image_uri | iu | imageUri denotes image name on server |
| options | dt | array of options for the question selected |
| option_id | oid | id for the option in selected question |
| option_name | _n | id for the option in selected question |
| option_label | _l | id for the option in selected question |
| option_priority | _p | priority for the option in selected question |
| filters | f | filters for master data |
| parts | p | array of parts |

    + Header
    
            X-AUTHORIZATION: (Required) - 2fffc582-1ed2-4f17-80cf-3f608a91f93c

    + Body

            {
              "_v": 1,
              "biu": "http://s3.reglobe.in/brand/",
              "p": [
                {
                  "qid": 44,
                  "ql": "Brand",
                  "qn": "brand",
                  "biu": "http://s3.reglobe.in/partVariation/",
                  "lt": 1,
                  "dt": [
                    {
                      "_n": "Samsung",
                      "_l": "Samsung",
                      "oid": 143,
                      "iu": null,
                      "_p": 0
                    },
                    {
                      "_n": "Sony",
                      "_l": "Sony",
                      "oid": 144,
                      "iu": null,
                      "_p": 0
                    },
                    {
                      "_n": "LG",
                      "_l": "LG",
                      "oid": 145,
                      "iu": null,
                      "_p": 0
                    },
                    {
                      "_n": "Sansui",
                      "_l": "Sansui",
                      "oid": 146,
                      "iu": null,
                      "_p": 0
                    },
                    {
                      "_n": "Panasonic",
                      "_l": "Panasonic",
                      "oid": 147,
                      "iu": null,
                      "_p": 0
                    },
                    {
                      "_n": "Videocon",
                      "_l": "Videocon",
                      "oid": 148,
                      "iu": null,
                      "_p": 0
                    },
                    {
                      "_n": "Others",
                      "_l": "Others",
                      "oid": 149,
                      "iu": null,
                      "_p": 0
                    }
                  ]
                },
                {
                  "qid": 45,
                  "ql": "Size",
                  "qn": "size",
                  "biu": "http://s3.reglobe.in/partVariation/",
                  "lt": 2,
                  "dt": [
                    {
                      "_n": "Below 20 inches",
                      "_l": "Below 20 inches",
                      "oid": 150,
                      "iu": null,
                      "_p": 0
                    },
                    {
                      "_n": "20 inches",
                      "_l": "20 inches",
                      "oid": 151,
                      "iu": null,
                      "_p": 0
                    },
                    {
                      "_n": "22 inches",
                      "_l": "22 inches",
                      "oid": 152,
                      "iu": null,
                      "_p": 0
                    },
                    {
                      "_n": "23 - 26 inches",
                      "_l": "23 - 26 inches",
                      "oid": 153,
                      "iu": null,
                      "_p": 0
                    },
                    {
                      "_n": "30 - 32 inches",
                      "_l": "30 - 32 inches",
                      "oid": 154,
                      "iu": null,
                      "_p": 0
                    },
                    {
                      "_n": "39 - 42 inches",
                      "_l": "39 - 42 inches",
                      "oid": 155,
                      "iu": null,
                      "_p": 0
                    },
                    {
                      "_n": "Above 42 inches",
                      "_l": "Above 42 inches",
                      "oid": 156,
                      "iu": null,
                      "_p": 0
                    }
                  ]
                }
              ],
              "f": []
            }

## Brands [/brands{?_v,plid}]

A Brand object has the following attributes:

+ Caching
<table>
    <tr>
        <td>Enable</td>
        <td>true</td>
    </tr>
    <tr>
        <td>Vary By</td>
        <td>Product Line</td>
    </tr>
     <tr>
        <td>Partial Versioning</code></td>
        <td>true</td>
    </tr>
</table>

+ Parameters
    + _v: 1 (required, number) - version of data stored on server in form of an integer
    + plid: 20 (required, number) - ID of the Product Line in form of an integer

### Get Brands [GET]

+ Response 200 (application/json)
| Attributes | Mask | Description |
| --- | --- | --- |
| version | _v | version is an integer value for versioning of data |
| base_image_url|biu| Base Image url for the images/logo|
| brand_id | bi | id denotes id of every brand |
| data | dt | data contains array of brand element |
| brand_name | bn | name of every brand |
| image_uri |iu| imageUri denotes image name on server |
| is_featured | if | Is brand featured |
| details | bd | Pipe separated Details of the brand |

    + Header
    
            X-AUTHORIZATION: (Required) - 2fffc582-1ed2-4f17-80cf-3f608a91f93c

    + Body
    
            {
              "_v": 1,
              "biu": "http://s3.reglobe.in/brand/",
              "dt": [
                {
                  "bi": "21",
                  "bn": "Apple iPhone",
                  "iu": "5507c8b664bfd-5429216062b1c-apple-iphone.png",
                  "if": 0,
                  "hm": 1
                },
                {
                  "bi": "22",
                  "bn": "Apple iPad",
                  "iu": "5507c8cdec21e-54292177d23a0-apple-ipad.png",
                  "if": 0,
                  "hm": 0
                },
                {
                  "bi": "23",
                  "bn": "Samsung",
                  "iu": "5507c8f23cf95-5429217fdeb61-samsung.png",
                  "if": 0,
                  "hm": 0
                },
                {
                  "bi": "24",
                  "bn": "Sony Xperia",
                  "iu": "5507c91c32e6b-542921b191e86-sony-mobile.png",
                  "if": 0,
                  "hm": 0
                },
                {
                  "bi": "25",
                  "bn": "Nokia",
                  "iu": "5507c9358740f-54e7fdc7e3cf2-Nokia-Logo.jpg",
                  "if": 0,
                  "hm": 0
                },
                {
                  "bi": "26",
                  "bn": "HTC",
                  "iu": "5507c94e024fe-542921a05d7b9-htc.png",
                  "if": 0,
                  "hm": 0
                },
                {
                  "bi": "27",
                  "bn": "Motorola",
                  "iu": "5507c9672dfb8-542921c2a879e-motorola.png",
                  "if": 0,
                  "hm": 0
                },
                {
                  "bi": "28",
                  "bn": "Micromax",
                  "iu": "5507c981b5614-549944c4bd60b-Micromax-Mobiles-Logo.jpg",
                  "if": 0,
                  "hm": 0
                },
                {
                  "bi": "29",
                  "bn": "LG",
                  "iu": "5507c998d0a90-54292166451cf-lg.png",
                  "if": 0,
                  "hm": 0
                },
                {
                  "bi": "30",
                  "bn": "Xiaomi",
                  "iu": "5507c9bb353c8-54608e417ef44-symble.jpg",
                  "if": 0,
                  "hm": 0
                },
                {
                  "bi": "31",
                  "bn": "Gionee",
                  "iu": "5507ca66be062-54af864e726e2-GIONEE-SMART-PHONE-LOGO.jpg",
                  "if": 0,
                  "hm": 0
                },
                {
                  "bi": "32",
                  "bn": "Oppo",
                  "iu": "5507ca8654c9a-54ae0e3100186-logo-1 Logo.jpg",
                  "if": 0,
                  "hm": 0
                },
                {
                  "bi": "33",
                  "bn": "Blackberry",
                  "iu": "5507cb7c870a4-54b8ee4e6615a-blackberry-logo.jpg",
                  "if": 0,
                  "hm": 0
                },
                {
                  "bi": "83",
                  "bn": "Asus",
                  "iu": "555d8e16ef1f3-Asus.png",
                  "if": 0,
                  "hm": 0
                },
                {
                  "bi": "84",
                  "bn": "Panasonic",
                  "iu": "555d8e3ddbdcd-panasonic-logo-58248.jpg",
                  "if": 0,
                  "hm": 0
                },
                {
                  "bi": "85",
                  "bn": "Lenovo",
                  "iu": "555d8e6010e8e-lenovo-logo.jpg",
                  "if": 0,
                  "hm": 0
                },
                {
                  "bi": "89",
                  "bn": "Xolo",
                  "iu": "556d8cde71974-XOLO.jpg",
                  "if": 0,
                  "hm": 0
                },
                {
                  "bi": "90",
                  "bn": "OneplusOne",
                  "iu": "557fb377eb965-55364a2f76107-OnePlus-logo_thumb (1).jpg",
                  "if": 0,
                  "hm": 0
                },
                {
                  "bi": "92",
                  "bn": "ASUS",
                  "iu": "5638550446ba5-images.jpg",
                  "if": 0,
                  "hm": 0
                }
              ]
            }
            
## Sub Brands [/brand/products{?b_id,ps,os}]
A Product object has the following attributes:

+ Caching
<table>
    <tr>
        <td>Enable</td>
        <td>false</td>
    </tr>
    <tr>
        <td>Vary By</td>
        <td>Brand</td>
    </tr>
     <tr>
        <td>Partial Versioning</code></td>
        <td>false</td>
    </tr>
</table>

+ Parameters
    + b_id: 77 (required, number) - ID of the brand in form of an integer
    + ps: 10 (optional, number) - Page size for the request.
    + os: 20 (optional, number) - Page offset for th request.

### Get Brand Products [GET]

+ Response 200 (application/json)
| Attributes | Mask | Description |
| --- | --- | --- |
| base_image_url|biu| Base Image url for the images/logo|
| data | dt | data contains array of product element |
| product_id | pi | id denotes id of every product |
| product_name | pn | name of every product |
| image_uri | iu | imageUri denotes image name on server |

    + Header
    
            X-AUTHORIZATION: (Required) - 2fffc582-1ed2-4f17-80cf-3f608a91f93c

    + Body

            {
              "_v": 0,
              "biu": "http://s3.reglobe.in/brand/",
              "dt": [
                {
                  "pi": 21,
                  "pn": "Apple iPhone",
                  "iu": "5507c8b664bfd-5429216062b1c-apple-iphone.png",
                  "lt": 0,
                  "dt": [
                    {
                      "pi": 1,
                      "pn": "Apple Iphone 6",
                      "iu": null,
                      "lt": 0,
                      "dt": [
                        {
                          "pi": 4,
                          "pn": "64 GB",
                          "iu": null,
                          "lt": 0,
                          "dt": []
                        }
                      ]
                    },
                    {
                      "pi": 2,
                      "pn": "Apple Iphone 4",
                      "iu": null,
                      "lt": 0,
                      "dt": [
                        {
                          "pi": 5,
                          "pn": "16GB",
                          "iu": null,
                          "lt": 0,
                          "dt": []
                        }
                      ]
                    }
                  ]
                }
              ]
            }

## Product List [/product/product-list{?bid,sid}]
Initial product detail to calculate it's cost.

+ Versioning
<table>
    <tr>
        <td>Enable</td>
        <td>false</td>
    </tr>
    <tr>
        <td>Vary By</td>
        <td>NA</td>
    </tr>
     <tr>
        <td>Partial Versioning</code></td>
        <td>false</td>
    </tr>
</table>

+ Parameters
    + bid: p_123 (required, string) - brand id to get product list
    + sid: p_123 (required, string) - sub brand id to get product list

### Get Product List [GET]
+ Response 200 (application/json)
| Attributes | Mask | Description |
| --- | --- | --- |
| base_image_url|biu| Base Image url for the images/logo|
| product_id | pi | Id of the product|
| product_name | pn | Name of the product|
| image_uri | iu | Image Url for product|
| brand_id | bi | Id of the Brand of product|
| brand_name | bn | Name of Brand of product|
| brand_logo|bl| URI for the brand logo|
| device_sold | ds | Total devices sold by the customers till date|
| current_mrp | cm | Cuurent MRP of the product|
| offered_price|op| Offered Amount of the product for the given age|
| product_details | pd | Pipe separated Details of the product|
| product_age|pa| Age of the product|
| top_priced|tp|Array of top priced product sold|
| data|dt|Array of products|
| product_image_url|piu|image url of product|
| brand_image_url|biu|image url of brand|

    + Header
    
            X-AUTHORIZATION: (Required) - 2fffc582-1ed2-4f17-80cf-3f608a91f93c

    + Body

            {
              "dt": [
                {
                  "pi": "6656",
                  "pn": "iPad 1 16GB wifi + Cellular",
                  "piu": "http://s3.reglobe.in/details/54c8af7ca6419-ipad-1st-generation.jpg",
                  "cm": 0,
                  "bn": "Apple iPad",
                  "ds": 0,
                  "biu": "http://s3.reglobe.in/brand/5507c8cdec21e-54292177d23a0-apple-ipad.png"
                },
                {
                  "pi": "6657",
                  "pn": "iPad 1 32GB wifi + Cellular",
                  "piu": "http://s3.reglobe.in/details/54c8afdc248a2-ipad-1st-generation.jpg",
                  "cm": 0,
                  "bn": "Apple iPad",
                  "ds": 0,
                  "biu": "http://s3.reglobe.in/brand/5507c8cdec21e-54292177d23a0-apple-ipad.png"
                },
                {
                  "pi": "6658",
                  "pn": "iPad 1 64GB wifi",
                  "piu": "http://s3.reglobe.in/details/54c8afffc3e41-ipad-1st-generation.jpg",
                  "cm": 0,
                  "bn": "Apple iPad",
                  "ds": 0,
                  "biu": "http://s3.reglobe.in/brand/5507c8cdec21e-54292177d23a0-apple-ipad.png"
                },
                {
                  "pi": "6659",
                  "pn": "iPad 2 16GB wifi",
                  "piu": "http://s3.reglobe.in/details/54c8a98936490-ipad2.jpg",
                  "cm": 0,
                  "bn": "Apple iPad",
                  "ds": 0,
                  "biu": "http://s3.reglobe.in/brand/5507c8cdec21e-54292177d23a0-apple-ipad.png"
                },
                {
                  "pi": "6660",
                  "pn": "iPad 2 16GB wifi+cellular",
                  "piu": "http://s3.reglobe.in/details/54c8aa3c5e11e-ipad2.jpg",
                  "cm": 0,
                  "bn": "Apple iPad",
                  "ds": 0,
                  "biu": "http://s3.reglobe.in/brand/5507c8cdec21e-54292177d23a0-apple-ipad.png"
                },
                {
                  "pi": "6661",
                  "pn": "iPad 2 32GB wifi",
                  "piu": "http://s3.reglobe.in/details/54c8a9bc3c056-ipad2.jpg",
                  "cm": 0,
                  "bn": "Apple iPad",
                  "ds": 0,
                  "biu": "http://s3.reglobe.in/brand/5507c8cdec21e-54292177d23a0-apple-ipad.png"
                },
                {
                  "pi": "6662",
                  "pn": "iPad 2 32GB wifi+cellular",
                  "piu": "http://s3.reglobe.in/details/54c8aa5f90a5b-ipad2.jpg",
                  "cm": 0,
                  "bn": "Apple iPad",
                  "ds": 0,
                  "biu": "http://s3.reglobe.in/brand/5507c8cdec21e-54292177d23a0-apple-ipad.png"
                },
                {
                  "pi": "6663",
                  "pn": "iPad 2 64GB wifi",
                  "piu": "http://s3.reglobe.in/details/54c8aa13d02d7-ipad2.jpg",
                  "cm": 0,
                  "bn": "Apple iPad",
                  "ds": 0,
                  "biu": "http://s3.reglobe.in/brand/5507c8cdec21e-54292177d23a0-apple-ipad.png"
                },
                {
                  "pi": "6664",
                  "pn": "iPad 2 64GB wifi+cellular",
                  "piu": "http://s3.reglobe.in/details/54c8aa7fb309f-ipad2.jpg",
                  "cm": 0,
                  "bn": "Apple iPad",
                  "ds": 0,
                  "biu": "http://s3.reglobe.in/brand/5507c8cdec21e-54292177d23a0-apple-ipad.png"
                },
                {
                  "pi": "6665",
                  "pn": "iPad 3 16GB wifi",
                  "piu": "http://s3.reglobe.in/details/54c8a8b570c4a-ipad3.jpg",
                  "cm": 0,
                  "bn": "Apple iPad",
                  "ds": 0,
                  "biu": "http://s3.reglobe.in/brand/5507c8cdec21e-54292177d23a0-apple-ipad.png"
                }
              ]
            }
            
## Product Details [/product{?id}]
Initial product detail to calculate it's cost.

+ Versioning
<table>
    <tr>
        <td>Enable</td>
        <td>false</td>
    </tr>
    <tr>
        <td>Vary By</td>
        <td>NA</td>
    </tr>
     <tr>
        <td>Partial Versioning</code></td>
        <td>false</td>
    </tr>
</table>

+ Parameters
    + id: p_123 (required, string) - product id get product detail.

### Get Product Details [GET]
+ Response 200 (application/json)
| Attributes | Mask | Description |
| --- | --- | --- |
| base_image_url|biu| Base Image url for the images/logo|
| product_id | pi | Id of the product|
| product_name | pn | Name of the product|
| image_uri | iu | Image Url for product|
| brand_id | bi | Id of the Brand of product|
| brand_name | bn | Name of Brand of product|
| brand_logo|bl| URI for the brand logo|
| device_sold | ds | Total devices sold by the customers till date|
| current_mrp | cm | Cuurent MRP of the product|
| offered_price|op| Offered Amount of the product for the given age|
| product_details | pd | Pipe separated Details of the product|
| product_age|pa| Age of the product|
| top_priced|tp|Array of top priced product sold|

    + Header
    
            X-AUTHORIZATION: (Required) - 2fffc582-1ed2-4f17-80cf-3f608a91f93c

    + Body

            {
              "pi": 6656,
              "pn": "iPad 1 16GB wifi + Cellular",
              "piu": "http://s3.reglobe.in/details/54c8af7ca6419-ipad-1st-generation.jpg",
              "biu": "http://s3.reglobe.in/brand/5507c8cdec21e-54292177d23a0-apple-ipad.png",
              "bn": "Apple iPad",
              "bid": 22,
              "plid": 20,
              "pd": "iPad 1 16GB wifi + Cellular",
              "cm": 0,
              "ds": 100,
              "dt": [
                {
                  "pa": 18,
                  "op": 3000
                },
                {
                  "pa": 15,
                  "op": 3500
                },
                {
                  "pa": 12,
                  "op": 3800
                },
                {
                  "pa": 9,
                  "op": 4000
                },
                {
                  "pa": 6,
                  "op": 4500
                },
                {
                  "pa": 3,
                  "op": 4800
                }
              ],
              "tp": [
                {
                  "pi": "6656",
                  "pn": "iPad 1 16GB wifi + Cellular",
                  "iu": "http://s3.reglobe.in/details/54c8af7ca6419-ipad-1st-generation.jpg",
                  "op": 0,
                  "bn": "Apple iPad"
                },
                {
                  "pi": "6657",
                  "pn": "iPad 1 32GB wifi + Cellular",
                  "iu": "http://s3.reglobe.in/details/54c8afdc248a2-ipad-1st-generation.jpg",
                  "op": 0,
                  "bn": "Apple iPad"
                },
                {
                  "pi": "6658",
                  "pn": "iPad 1 64GB wifi",
                  "iu": "http://s3.reglobe.in/details/54c8afffc3e41-ipad-1st-generation.jpg",
                  "op": 0,
                  "bn": "Apple iPad"
                },
                {
                  "pi": "6659",
                  "pn": "iPad 2 16GB wifi",
                  "iu": "http://s3.reglobe.in/details/54c8a98936490-ipad2.jpg",
                  "op": 0,
                  "bn": "Apple iPad"
                },
                {
                  "pi": "6660",
                  "pn": "iPad 2 16GB wifi+cellular",
                  "iu": "http://s3.reglobe.in/details/54c8aa3c5e11e-ipad2.jpg",
                  "op": 0,
                  "bn": "Apple iPad"
                }
              ]
            }

## Virtual Product Details [/virtual-product/{?pid,sum}]
Initial product detail to calculate it's cost.

+ Versioning
<table>
    <tr>
        <td>Enable</td>
        <td>false</td>
    </tr>
    <tr>
        <td>Vary By</td>
        <td>NA</td>
    </tr>
     <tr>
        <td>Partial Versioning</code></td>
        <td>false</td>
    </tr>
</table>

+ Parameters
    + pid: "p_123" (required, string) - product line id
    + sum: json (required, string) - json string of selected part

### Get Virtual Product Details [GET]
+ Request (application/x-www-form-urlencoded)
 
    + Body
       
            {
              "brand": 134,
              "ram": 122,
              "processor": 129
            }

+ Response 200 (application/json)
| Attributes | Mask | Description |
| --- | --- | --- |
| base_image_url|biu| Base Image url for the images/logo|
| product_id | pi | Id of the product|
| product_name | pn | Name of the product|
| image_uri | iu | Image Url for product|
| brand_id | bi | Id of the Brand of product|
| brand_name | bn | Name of Brand of product|
| brand_logo|bl| URI for the brand logo|
| device_sold | ds | Total devices sold by the customers till date|
| current_mrp | cm | Cuurent MRP of the product|
| offered_price|op| Offered Amount of the product for the given age|
| product_details | pd | Pipe separated Details of the product|
| product_age|pa| Age of the product|
| top_priced|tp|Array of top priced product sold|

    + Body

            {
              "pi": "p_123",
              "pn": "Note 4",
              "piu": "product_image_url",
              "bn": "brand_name",
              "biu": "/brandimg.png",
              "bn": "Samsung",
              "pd": "Released 2015 | Android 4.0.4 | 8 GB",
              "ds": 1000,
              "cm": 5000,
              "dt": [
                {
                  "pa": 6,
                  "op": 4500
                },
                {
                  "pa": 3,
                  "op": 4800
                }
              ],
              "tp": [
                {
                  "pi": 123,
                  "pn": "Led Tv",
                  "bn": "Samsung",
                  "iu": "/img.png",
                  "pa": 13,
                  "op": 4800
                },
                {
                  "pi": 124,
                  "pn": "Led Tv",
                  "bn": "Samsung",
                  "iu": "/img.png",
                  "pa": 10,
                  "op": 5000
                }
              ]
            }

## City Request [/cities]

Get list of cities and pincode to show user

+ Versioning
<table>
    <tr>
        <td>Enable</td>
        <td>false</td>
    </tr>
    <tr>
        <td>Vary By</td>
        <td>Pincode</td>
    </tr>
     <tr>
        <td>Partial Versioning</code></td>
        <td>false</td>
    </tr>
</table>

### View a City Detail [GET]

+ Response 200 (application/json)
| Attributes | Mask | Description |
| --- | --- | --- |
| cities_list | dt | list of the cities with their pincode |
| city_name | cn | name of city |
| city_pincode | cp | pin code of the respected city |

    + Body
    
              {
              "dt": [
                {
                  "cn": "Gurgaon",
                  "cp": 122003
                },
                {
                  "cn": "Noida",
                  "cp": 201301
                },
                {
                  "cn": "Varanasi",
                  "cp": 221005
                },
                {
                  "cn": "Delhi",
                  "cp": 110096
                },
                {
                  "cn": "Chennai",
                  "cp": 600124
                },
                {
                  "cn": "Banglore",
                  "cp": 122003
                },
                {
                  "cn": "Tiruvantpuram",
                  "cp": 201301
                },
                {
                  "cn": "Mumbai",
                  "cp": 221005
                },
                {
                  "cn": "Moon",
                  "cp": 110096
                },
                {
                  "cn": "Mars",
                  "cp": 600124
                }
              ]
            }

# Group Calculator Module

## Calcuator [/calculator{?_v,plid,bid,bn,pid,pn,sum}]

Calulator for the product Line.

+ Versioning
<table>
    <tr>
        <td>Enable</td>
        <td>true</td>
    </tr>
    <tr>
        <td>Vary By</td>
        <td>Product Line</td>
    </tr>
     <tr>
        <td>Partial Versioning</code></td>
        <td>false</td>
    </tr>
</table>

+ Parameters
    + _v: 1 (required, number) - version of data stored on server in form of an integer
    + plid : 7 (required, number) - product line of calculator to define particular category
    + bid : 77 (number) - brand id is unique id of brands.
    + bn : "Apple" (String) - brand Name is name of particular brand.
    + pid : 90 (number) - product id is unique id of products.
    + pn : "Samsung Duos" (String) - product Name is name of particular product.
    + sum: json (required, string) - json string of selected partadd


### GET Calculator [GET]
+ Response 200 (application/json)
| Attributes | Mask | Description |
| --- | --- | --- |
| productline_category | plc | product line category for the product line parts|
| productline_category_name | cn | product line category label|
| help_text | ht | Help text hint for the Product line category|
| productline_order | plo | Product Line order|
| productline_part_array | plp | Product line part array|
| part_id | pid | Id of the part for in product line|
| part_label | pl | Label of the part in the product line|
| image_uri | img | Image URI of the part for the product line|
| part_type | pt | e.g datepicker = 0, radio buttton = 1 etc|
| part_order | po | order of the part in given product line|
| is_required | ir | Is part variation required|
| validation_name | vn | Validation text for the part in given product line|
| part_visibility| pv | Visibility of the part in the product line ex 1 always show, 2 show on diagnois, 3 not show on diagnosis|
| diagnose_key | dk | Unique key for automated or semi-automated diagnose test case|
| diagnose_pass | dp | Id for pass diagnose test case|
| diagnose_fail | df | Id for fail diagnose test case|
| diagnose_no_result | dnr | Id for no result diagnose test case|
| part_veriation | pvr | part veriation in pline category|
| extra_param | exp | Array of extra params for product line category|
| config |cfg| array of pre defined data of particular product|
| rule |r| array of rule|
| page_title |t| title of page|
| sub_title |st| sub title of page|
| page_priority |pr| priority of page|
| page_title |t| title of page|
| rule_expression |exp| expression of rule on current page|
| questions |q| array of question on current page|
| get_quote |gq| if you want to get quote on a particular page or not |

    + Body
    
            {
              "plc": [
                {
                  "id": 7,
                  "cn": "Does the Mobile Switch On?",
                  "plo": 1,
                  "plp": [
                    {
                      "pid": 18,
                      "pl": "Working",
                      "ht": "Working",
                      "pt": 404,
                      "sl": 1,
                      "ir": 1,
                      "vt": "Please select Yes or No",
                      "en": "workingNonworking",
                      "po": 1,
                      "iu": "",
                      "dk": "device_age",
                      "dp": null,
                      "df": null,
                      "dnr": null,
                      "pv": null,
                      "pvr": [
                        {
                          "id": 76,
                          "vl": "Yes",
                          "ht": null,
                          "iu": null
                        },
                        {
                          "id": 77,
                          "vl": "No",
                          "ht": null,
                          "iu": null
                        }
                      ]
                    }
                  ],
                  "exp": []
                },
                {
                  "id": 8,
                  "cn": "Functional or Physical Problems",
                  "plo": 2,
                  "plp": [
                    {
                      "pid": 19,
                      "pl": "Screen Broken Or Touchpad Not Working",
                      "ht": "This is test Help Text",
                      "pt": 401,
                      "sl": 1,
                      "ir": 0,
                      "vt": "This is test  Error Message",
                      "en": "screen",
                      "po": 1,
                      "iu": "",
                      "dk": "display_touch",
                      "dp": 78,
                      "df": 78,
                      "dnr": 78,
                      "pv": null,
                      "pvr": [
                        {
                          "id": 78,
                          "vl": "Screen Broken Or Touchpad Not Working",
                          "ht": null,
                          "iu": null
                        }
                      ]
                    },
                    {
                      "pid": 12,
                      "pl": "Audio Jack not working; faulty Or cracked sound",
                      "ht": "This is test Help Text",
                      "pt": 403,
                      "sl": 1,
                      "ir": 0,
                      "vt": "This is test  Error Message",
                      "en": "audioJack",
                      "po": 1,
                      "iu": "",
                      "dk": "audio_jack",
                      "dp": 598,
                      "df": 598,
                      "dnr": 598,
                      "pv": null,
                      "pvr": [
                        {
                          "id": 598,
                          "vl": "Audio jack not working; faulty Or cracked sound",
                          "ht": null,
                          "iu": null
                        }
                      ]
                    },
                    {
                      "pid": 20,
                      "pl": "Front Or Back Camera Not Working Or Faulty",
                      "ht": "This is test Help Text",
                      "pt": 401,
                      "sl": 1,
                      "ir": 0,
                      "vt": "This is test  Error Message",
                      "en": "camera",
                      "po": 2,
                      "iu": "",
                      "dk": null,
                      "dp": null,
                      "df": null,
                      "dnr": null,
                      "pv": null,
                      "pvr": [
                        {
                          "id": 79,
                          "vl": "Front Or Back Camera Not Working Or Faulty",
                          "ht": null,
                          "iu": null
                        }
                      ]
                    },
                    {
                      "pid": 21,
                      "pl": "Volume Button not working",
                      "ht": "This is test Help Text",
                      "pt": 401,
                      "sl": 1,
                      "ir": 0,
                      "vt": "This is test  Error Message",
                      "en": "volumeButton",
                      "po": 3,
                      "iu": "",
                      "dk": "volume",
                      "dp": 80,
                      "df": 80,
                      "dnr": 80,
                      "pv": null,
                      "pvr": [
                        {
                          "id": 80,
                          "vl": "Volume Button not working",
                          "ht": null,
                          "iu": null
                        }
                      ]
                    },
                    {
                      "pid": 24,
                      "pl": "Power/Home Button Faulty; Hard or Not Working",
                      "ht": "This is test Help Text",
                      "pt": 401,
                      "sl": 1,
                      "ir": 0,
                      "vt": "This is test  Error Message",
                      "en": "powerButton",
                      "po": 4,
                      "iu": "",
                      "dk": null,
                      "dp": null,
                      "df": null,
                      "dnr": null,
                      "pv": null,
                      "pvr": [
                        {
                          "id": 84,
                          "vl": "Power/Home Button Faulty; Hard or Not Working",
                          "ht": null,
                          "iu": null
                        }
                      ]
                    },
                    {
                      "pid": 121,
                      "pl": "Bluetooth",
                      "ht": "This is test Help Text",
                      "pt": 401,
                      "sl": 1,
                      "ir": 0,
                      "vt": "This is test  Error Message",
                      "en": "automate_bluetooth",
                      "po": 5,
                      "iu": "",
                      "dk": "automate",
                      "dp": 81,
                      "df": 81,
                      "dnr": 81,
                      "pv": null,
                      "pvr": [
                        {
                          "id": 81,
                          "vl": "Wifi Or Bluetooth Or GPS Not Working",
                          "ht": null,
                          "iu": null
                        }
                      ]
                    },
                    {
                      "pid": 122,
                      "pl": "Wifi",
                      "ht": "This is test Help Text",
                      "pt": 401,
                      "sl": 1,
                      "ir": 0,
                      "vt": "This is test  Error Message",
                      "en": "wifiGpsBluetooth",
                      "po": 5,
                      "iu": "",
                      "dk": "automate",
                      "dp": 81,
                      "df": 81,
                      "dnr": 81,
                      "pv": null,
                      "pvr": [
                        {
                          "id": 81,
                          "vl": "Wifi Or Bluetooth Or GPS Not Working",
                          "ht": null,
                          "iu": null
                        }
                      ]
                    },
                    {
                      "pid": 123,
                      "pl": "Bluetooth",
                      "ht": "This is test Help Text",
                      "pt": 401,
                      "sl": 1,
                      "ir": 0,
                      "vt": "This is test  Error Message",
                      "en": "bluetooth",
                      "po": 5,
                      "iu": "",
                      "dk": "automate",
                      "dp": 81,
                      "df": 81,
                      "dnr": 81,
                      "pv": null,
                      "pvr": [
                        {
                          "id": 81,
                          "vl": "Wifi Or Bluetooth Or GPS Not Working",
                          "ht": null,
                          "iu": null
                        }
                      ]
                    },
                    {
                      "pid": 124,
                      "pl": "Back Camera",
                      "ht": "This is test Help Text",
                      "pt": 401,
                      "sl": 1,
                      "ir": 0,
                      "vt": "This is test  Error Message",
                      "en": "camera*cameraHidden",
                      "po": 5,
                      "iu": "",
                      "dk": "automate",
                      "dp": 81,
                      "df": 81,
                      "dnr": 81,
                      "pv": null,
                      "pvr": [
                        {
                          "id": 81,
                          "vl": "Wifi Or Bluetooth Or GPS Not Working",
                          "ht": null,
                          "iu": null
                        }
                      ]
                    },
                    {
                      "pid": 125,
                      "pl": "Front Camera",
                      "ht": "This is test Help Text",
                      "pt": 401,
                      "sl": 1,
                      "ir": 0,
                      "vt": "This is test  Error Message",
                      "en": "frontCamera",
                      "po": 5,
                      "iu": "",
                      "dk": "automate",
                      "dp": 81,
                      "df": 81,
                      "dnr": 81,
                      "pv": null,
                      "pvr": [
                        {
                          "id": 81,
                          "vl": "Wifi Or Bluetooth Or GPS Not Working",
                          "ht": null,
                          "iu": null
                        }
                      ]
                    },
                    {
                      "pid": 23,
                      "pl": "Speakers not working; faulty Or cracked sound",
                      "ht": "This is test Help Text",
                      "pt": 401,
                      "sl": 0,
                      "ir": 0,
                      "vt": "This is test  Error Message",
                      "en": "speakers",
                      "po": 6,
                      "iu": "",
                      "dk": "speaker",
                      "dp": 82,
                      "df": 82,
                      "dnr": 82,
                      "pv": null,
                      "pvr": [
                        {
                          "id": 82,
                          "vl": "Speakers not working; faulty Or cracked sound",
                          "ht": null,
                          "iu": null
                        }
                      ]
                    },
                    {
                      "pid": 26,
                      "pl": "Microphone Not Working",
                      "ht": "This is test Help Text",
                      "pt": 401,
                      "sl": 1,
                      "ir": 0,
                      "vt": "This is test  Error Message",
                      "en": "microphone",
                      "po": 6,
                      "iu": "",
                      "dk": null,
                      "dp": null,
                      "df": null,
                      "dnr": null,
                      "pv": null,
                      "pvr": [
                        {
                          "id": 83,
                          "vl": "Microphone Not Working",
                          "ht": null,
                          "iu": null
                        }
                      ]
                    },
                    {
                      "pid": 25,
                      "pl": "Charging Defect; unable to charge the phone",
                      "ht": "This is test Help Text",
                      "pt": 401,
                      "sl": 1,
                      "ir": 0,
                      "vt": "This is test  Error Message",
                      "en": "chargingDefect",
                      "po": 7,
                      "iu": "",
                      "dk": null,
                      "dp": null,
                      "df": null,
                      "dnr": null,
                      "pv": null,
                      "pvr": [
                        {
                          "id": 85,
                          "vl": "Charging Defect; unable to charge the phone",
                          "ht": null,
                          "iu": null
                        }
                      ]
                    },
                    {
                      "pid": 27,
                      "pl": "Battery Faulty or Very Low Battery Back up",
                      "ht": "This is test Help Text",
                      "pt": 401,
                      "sl": 1,
                      "ir": 0,
                      "vt": "This is test  Error Message",
                      "en": "battery",
                      "po": 8,
                      "iu": "",
                      "dk": null,
                      "dp": null,
                      "df": null,
                      "dnr": null,
                      "pv": null,
                      "pvr": [
                        {
                          "id": 86,
                          "vl": "Battery Faulty or Very Low Battery Back up",
                          "ht": null,
                          "iu": null
                        }
                      ]
                    }
                  ],
                  "exp": []
                },
                {
                  "id": 9,
                  "cn": "Do you have the following?",
                  "plo": 3,
                  "plp": [
                    {
                      "pid": 28,
                      "pl": "Original Charger",
                      "ht": "This is test Help Text",
                      "pt": 401,
                      "sl": 1,
                      "ir": 0,
                      "vt": "This is test  Error Message",
                      "en": "charger",
                      "po": 1,
                      "iu": "http://s3t.reglobe.in/part/5667f2348b7b9-icon_charger.png",
                      "dk": null,
                      "dp": null,
                      "df": null,
                      "dnr": null,
                      "pv": null,
                      "pvr": [
                        {
                          "id": 87,
                          "vl": "Yes",
                          "ht": null,
                          "iu": null
                        }
                      ]
                    },
                    {
                      "pid": 29,
                      "pl": "Earphone",
                      "ht": "This is test Help Text",
                      "pt": 401,
                      "sl": 1,
                      "ir": 0,
                      "vt": "This is test  Error Message",
                      "en": "earphone",
                      "po": 2,
                      "iu": "http://s3t.reglobe.in/part/5667f25359854-icon_earphone.png",
                      "dk": null,
                      "dp": null,
                      "df": null,
                      "dnr": null,
                      "pv": null,
                      "pvr": [
                        {
                          "id": 88,
                          "vl": "Yes",
                          "ht": null,
                          "iu": null
                        }
                      ]
                    },
                    {
                      "pid": 30,
                      "pl": "Original Box",
                      "ht": "This is test Help Text",
                      "pt": 401,
                      "sl": 1,
                      "ir": 0,
                      "vt": "This is test  Error Message",
                      "en": "box",
                      "po": 3,
                      "iu": "http://s3t.reglobe.in/part/5667f21975dd1-icon_box.png",
                      "dk": null,
                      "dp": null,
                      "df": null,
                      "dnr": null,
                      "pv": null,
                      "pvr": [
                        {
                          "id": 89,
                          "vl": "Yes",
                          "ht": null,
                          "iu": null
                        }
                      ]
                    },
                    {
                      "pid": 31,
                      "pl": "Valid Bill",
                      "ht": "This is test Help Text",
                      "pt": 401,
                      "sl": 1,
                      "ir": 0,
                      "vt": "This is test  Error Message",
                      "en": "bill",
                      "po": 4,
                      "iu": "http://s3t.reglobe.in/part/5667bf579fbfb-5666c6137dd34-icon_bill.png",
                      "dk": null,
                      "dp": null,
                      "df": null,
                      "dnr": null,
                      "pv": null,
                      "pvr": [
                        {
                          "id": 90,
                          "vl": "Valid Bill",
                          "ht": null,
                          "iu": "http://s3t.reglobe.in/part_variation/5666c6137dd34-icon_bill.png"
                        }
                      ]
                    }
                  ],
                  "exp": []
                },
                {
                  "id": 11,
                  "cn": "Mobile Age",
                  "plo": 4,
                  "plp": [
                    {
                      "pid": 33,
                      "pl": "Mobile Age",
                      "ht": "Mobile Age",
                      "pt": 405,
                      "sl": 0,
                      "ir": 1,
                      "vt": "Plese Select Mobile Age",
                      "en": "mobileAge",
                      "po": 1,
                      "iu": "http://s3t.reglobe.in/part/5666ec359bff3-5666c6137dd34-icon_bill.png",
                      "dk": null,
                      "dp": null,
                      "df": null,
                      "dnr": null,
                      "pv": null,
                      "pvr": [
                        {
                          "id": 94,
                          "vl": "Below 3 months",
                          "ht": null,
                          "iu": null
                        },
                        {
                          "id": 95,
                          "vl": "3 months - 6 months",
                          "ht": null,
                          "iu": null
                        },
                        {
                          "id": 96,
                          "vl": "6 months - 11 months",
                          "ht": null,
                          "iu": null
                        },
                        {
                          "id": 97,
                          "vl": "Above 11 months",
                          "ht": null,
                          "iu": null
                        }
                      ]
                    }
                  ],
                  "exp": []
                },
                {
                  "id": 10,
                  "cn": "Phone's Overall Condition",
                  "plo": 5,
                  "plp": [
                    {
                      "pid": 32,
                      "pl": "Physical Condition",
                      "ht": "Physical Condition",
                      "pt": 404,
                      "sl": 1,
                      "ir": 1,
                      "vt": "Plese Select Physical Condition",
                      "en": "physicalCondition",
                      "po": 1,
                      "iu": "",
                      "dk": null,
                      "dp": null,
                      "df": null,
                      "dnr": null,
                      "pv": null,
                      "pvr": [
                        {
                          "id": 91,
                          "vl": "Flawless",
                          "ht": "<ul><li>Zero scratches &amp; scuffs</li><li>Like new!</li></ul>",
                          "iu": "http://s3t.reglobe.in/part_variation/56696a5c4f553-icon_flawless.png"
                        },
                        {
                          "id": 92,
                          "vl": "Good",
                          "ht": "<ul><li>Minor scratches</li><li>No broken or missing keys or panels or dents</li><li>External housing intact with no defective or broken ports (USB, charger, headphones etc)</li></ul>",
                          "iu": "http://s3t.reglobe.in/part_variation/56696a850e57f-icon_phone_good.png"
                        },
                        {
                          "id": 93,
                          "vl": "Average",
                          "ht": "<ul><li>Heavy scratches or dents</li><li>Missing/broken keys or panels</li><li>Broken housing case or defective ports (USB, charger, headphones etc)</li></ul>",
                          "iu": "http://s3t.reglobe.in/part_variation/56696ae71612a-icon_phone_fair.png"
                        },
                        {
                          "id": 592,
                          "vl": "Fair",
                          "ht": "<ul><li>Minor Scratches or Dents</li></ul>",
                          "iu": "http://s3t.reglobe.in/part_variation/56696b211d688-icon_phone_fair.png"
                        }
                      ]
                    }
                  ],
                  "exp": []
                }
              ],
              "cfg": [],
              "r": []
            }    

## Product Quote [/pquote]

Get guaranteed quote for the product

+ Versioning
<table>
    <tr>
        <td>Enable</td>
        <td>false</td>
    </tr>
    <tr>
        <td>Vary By</td>
        <td>Pincode</td>
    </tr>
     <tr>
        <td>Partial Versioning</code></td>
        <td>false</td>
    </tr>
</table>

### GET Product Quote [POST]
+ Request (application/x-www-form-urlencoded)
| Attributes | Mask | Description |
| --- | --- | --- |
| productline_category | plc | product line category for the product line parts|
| part_type | pt | e.g datepicker = 0, radio buttton = 1 etc|
| diagnose_key | dk | Unique key for automated or semi-automated diagnose test case|
| diagnose_value | dv | Id for  diagnose test case result|
| part_veriation | pvr | part veriation in pline category|
| extra_param | exp | Array of extra params for product line category|
| device_id | did | Device Id of the User|
| user_id | uid | Id of the User|
| pincode | pin | Pincode of the user|
| productline_id | pli | Product Line ID|
| brand_id | bid | Brand Id of the product|
| band_name | bn | Brand name of the product|
| product_id | pid | Id of the product|
| product_name | pn | Name of the product|
| extra_device_info | edi |Device Info if selling current device|
| device_manufacturer | dmf | manufacturer of the device|
| device_model| dm | Model of the device|
| device_version| ds | Version of the device|
| device_storage |ds| storage of the device ex. 8GB or 16GB|
| imei | imei | imei array of the device |

    
    + Body
    
            {
              "plc": [
                {
                  "pt": "keyboard",
                  "pvr": [
                    1,
                    2
                  ]
                },
                {
                  "pt": "model",
                  "pvr": [21]
                }
              ],
              "exp": [
                {
                  "pt": "keyboard",
                  "pvr": [
                    1,
                    2
                  ]
                },
                {
                  "pt": "model",
                  "pvr": [21]
                }
              ],
              "did": "device id",
              "uid": 32464,
              "pin": "122001",
              "pli": "product_line_id",
              "bid": 23,
              "bn": "apple",
              "pid": 10,
              "pn": "Samsung GT 7212",
              "edi": {
                "dmf": "OnePlus",
                "dm": "A0001",
                "dv": "5.0.2",
                "ds": "64GB",
                "imei": [
                  "864587023726699"
                ]
              }
            }


+ Response 200 (application/json)
| Attributes | Mask | Description |
| --- | --- | --- |
| quote_success | qs | we will get success as a response it can be 0 or 1 |
| quote_amount | qa | Price of the mobile generated by server according to current conditions |
| qid | qid | Encrypted query Id generated by server. it will be use to generated Sell Query |
| exchange | exc | Array of exchange coupons for the quote offered|
| exchange_id | eid | Id for exchange offered|
| exchange_label | el | Lable for exchange offered|
| Image_url | iu | Image url for the given part|
|pickup_type| pt | Forward pickup(0) or reverse pickup(1), Not available(-1)|
|product_summary|ps|pipe seperated detail of product|
|label|l|summary label of product|
|status|s|status of label|
|priority|p|priority of label|

    + Body
    
             {
              "qs": 1,
              "qa": 4545,
              "qid": "q_123",
              "pt": 0,
              "ps": [
                {
                  "l": "label",
                  "s": 0,
                  "p": 0
                }
              ],
              "exc": [
                {
                  "eid": "ex_123",
                  "iu": "http://image.png",
                  "el": "Get Exchange coupon of RS 10000/-"
                }
              ]
            }

## Product Quote Refresh [/pquote/refresh]

Get projected quote for the product

+ Versioning
<table>
    <tr>
        <td>Enable</td>
        <td>false</td>
    </tr>
    <tr>
        <td>Vary By</td>
        <td>Pincode</td>
    </tr>
     <tr>
        <td>Partial Versioning</code></td>
        <td>false</td>
    </tr>
</table>

### GET Product Quote Refresh [POST]
+ Request (application/x-www-form-urlencoded)
| Attributes | Mask | Description |
| --- | --- | --- |
| productline_category | plc | product line category for the product line parts|
| part_type | pt | e.g datepicker = 0, radio buttton = 1 etc|
| diagnose_key | dk | Unique key for automated or semi-automated diagnose test case|
| diagnose_value | dv | Id for  diagnose test case result|
| part_veriation | pvr | part veriation in pline category|
| extra_param | exp | Array of extra params for product line category|
| pincode | pin | Pincode of the user|
| productline_id | pli | Product Line ID|
| brand_id | bid | Brand Id of the product|
| product_id | pid | Id of the product|


    
    + Body
    
            {
              "plc": [
                {
                  "pt": "keyboard",
                  "pvr": [
                    1,
                    2
                  ]
                },
                {
                  "pt": "model",
                  "pvr": [21]
                }
              ],
              "exp": [
                {
                  "pt": "keyboard",
                  "pvr": [
                    1,
                    2
                  ]
                },
                {
                  "pt": "model",
                  "pvr": [21]
                }
              ],
              "pin": "122001",
              "pli": "product_line_id",
              "bid": 23,
              "pid": 10
            }

+ Response 200 (application/json)
| Attributes | Mask | Description |
| --- | --- | --- |
| quote_amount | qa | Price of the mobile generated by server according to current conditions |

    + Body
    
             {
              "qa": 4545
             }

## Product Requote [/requote{?qid,qi,pc}]

Get projected requote for the product on different pincode

+ Versioning
<table>
    <tr>
        <td>Enable</td>
        <td>false</td>
    </tr>
    <tr>
        <td>Vary By</td>
        <td>Pincode</td>
    </tr>
     <tr>
        <td>Partial Versioning</code></td>
        <td>false</td>
    </tr>
</table>

+ Parameters
    + qid: query_id (required, text) - query id of product quote
    + qi: quote_id (required, text) - quote id of product quote
    + pc: 122001 (required, text) - pincode of requote location

### GET Product ReQuote [GET]
+ Request (application/x-www-form-urlencoded)

    + Header
    
            X-AUTHORIZATION: (Required) - 2fffc582-1ed2-4f17-80cf-3f608a91f93c
            
+ Response 200 (application/json)
| Attributes | Mask | Description |
| --- | --- | --- |
| quote_amount | qa | quote amount of product | 1 |
| query_id | qid | query id of product | 1 |
| quote_id | qi | quote id of product | 1 |
| status | s | status of requote | 1 |
| default_city | dc | default city of requote | 0 |
| default_pincode | dp | default pincode of requote | 0 |
| error message | err | error message |
    
    + Body
    
            {
              "qa": 2000,
              "qid": "quote_id",
              "qi": "query_id",
              "s": 1,
              "dc": "default_city",
              "dp": "default_pincode",
              "err": "error_message"
            }

# Group User Module

All user retalted APIs like user login, generating sell query, schdule and reschdule pickup.

## Sign In [/signin]

User sign in with mobile number or facebook or google plus.

### Sign In [POST]
+ Request 
| Attributes | Mask | Description |
| --- | --- | --- |
| signin_type | st | user can sign in through mobile no.(0), facebook(1) or google plus(2) | 
| token | to | token to signin ( in sign_type = 0 it will be mobile no. and in another cases it will be token) |
| rid | rid | request id |
    
    + Body
    
            {
                "st" : 0,
                "to" : "9876543210",
                "rid": 5471574454
            }
    
+ Response 200 (application/json)
| Attributes | Mask | Description |
| --- | --- | --- |
| user_type | ut | user type = 0 in case new user and 1 if existing user |
| verification_required | vr | if verfication required then vr = 1 otherwise 0 |
| user_name | un | user name |
| auth | ak | user auth |
| image_url | iurl | image url of user profile pic |
| request_auth | ra | Auth to identify same user | 

    + Body
    
            {
                "ut" : 1,
                "vr" : 1,
                "un" : "reglobe",
                "ak" : "hasdjisddijsi",
                "iurl" : "",
                "ra" : "dfhskfhdsk"
            }
            
            
## Sign Up [/signup]

User sign up with mobile number or facebook or google plus.

### Sign Up [POST]
+ Request 
| Attributes | Mask | Description |
| --- | --- | --- |
| user_name | un | user name (mandatory)|
| mobile_no | mo | mobile number (mandatory) |
| email | ea | email address (non mandatory) |
| signin_type | st | user can sign in with mobile no.(0), facebook(1) or google plus(2) (mandatory)| 
| token | to | token to signin ( in sign_type = 0 it will be mobile no. and in another cases it will be token) (mandatory) |
| rid | rid | request id (mandatory)|
| image | img | image bytes |
    
    + Body
    
            {
                "un" : "reglobe",
                "mo" : "9876543210",
                "ea" : "user@reglobe.in",
                "st" : 1,
                "to" : "jsdhfkjasdj",
                "rid": 5471574454,
                "img" : image file
            }
    
+ Response 200 (application/json)
| Attributes | Mask | Description |
| --- | --- | --- |
| status | s | status for sign up request |
| request_auth | ra | Auth to identify same user | 

    + Body
    
            {
                "s" : 1,
                "ra": "werttretyt"
            }

## Get OTP [/otp]

Get OTP for user login

+ Versioning
<table>
    <tr>
        <td>Enable</td>
        <td>false</td>
    </tr>
    <tr>
        <td>Vary By</td>
        <td>user or device</td>
    </tr>
     <tr>
        <td>Partial Versioning</code></td>
        <td>false</td>
    </tr>
</table>

### Get OTP [POST]
+ Request (application/json)
| Attributes | Mask | Description |
| --- | --- | --- |
| mobile_no | mo | mobile number |
| rid | rid | request id |
    
    + Body
    
            {
              "mo": 8497561235,
              "rid": 5471574454
            }
    
+ Response 200 (application/json)
| Attributes | Mask | Description |
| --- | --- | --- |
| status | s | s = 0 in case of new user otherwise s = 1 |
| request_auth | ra | Auth to identify same user | 

    + Body

            {
              s : 0,
              ra : "dfhskfhdsk"
            }           
            
## Verify OTP [/otp/authenticate]

Verify OTP for user login

+ Field
    + uvd : (json) - user verification data in json form to verify user

+ Versioning
<table>
    <tr>
        <td>Enable</td>
        <td>false</td>
    </tr>
    <tr>
        <td>Vary By</td>
        <td>user or device</td>
    </tr>
     <tr>
        <td>Partial Versioning</code></td>
        <td>false</td>
    </tr>
</table>

### Get Authentication [POST]
+ Request (application/json)
| Attributes | Mask | Description |
| --- | --- | --- |
| user_name | un | user name |
| mobile_no | mo | mobile number|
| email | ea | email address|
| signin_type | st | user can sign in with mobile no.(0), facebook(1) or google plus(2)| 
| token | to | token to signin ( in sign_type = 0 it will be mobile no. and in another cases it will be token)|
| rid | rid | request id|
| otp | otp | otp |
| request_auth | ra | Auth to identify same user |
| user_type | ut | user type = 0 in case new user and 1 if existing user |
    
    + Body
    
            {
                "un" : "reglobe",
                "mo" : "9876543210",
                "ea" : "user@reglobe.in",
                "st" : 1,
                "to" : "jsdhfkjasdj",
                "rid": 5471574454,
                "otp": 154245,
                "ra" : "fdhsfkjkdsj",
                "ut" : 0
            }

+ Response 200 (application/json)
| Attributes | Mask | Description |
| --- | --- | --- |
| auth_key | ak | user auth key |
| user_name | un | user name |
| image_url | iurl | image url of user profile pic |

    + Body

            {
              "ak" : "2fffc582-1ed2-4f17-80cf-3f608a91f93c",
              "un" : "reglobe",
              "iurl": "http://image/profile.pic.jpg"
            }           

## Pickup slots [/slots{?qi}]

Pickup slots to schedule pickups.

+ Parameters
    + qi : hsgisdfi (required, text) - query id

### GET Pickup slots [GET]
+ Response 200 (application/json)
| Attributes | Mask | Description |
| --- | --- | --- |
| pickup_dates | pd | Array of pickup dates for the pincode|
| date_id | did | Date Id for date for the pickup|
| date_label | dl | Date label for date for the pickup|
| is_available | ia | availibity of pickups for the slot|
| pickup_slots | ps | Array of pickup slots for the pincode|
| slot_id | sid | id of pickup slot |
| slot_label | sl | slot label for time for the pickup|
| address_list | al | array of user addresses |
| address_id | aid | address id |
| route | _r | route in address |
| locality | _l | locality in address |
| city | _c | city | city in address |
| state | _s | state in address |
| country | co | country in address |
| postal_code | pc | postal code in address |
| formatted_address | fa | formatted address |
| flat_no | fn | flat no |
| landmark | lm | landmark |
| product_name | pn | product name associated with given query id |
| pickup_type | pt | pickup type, forward pickup(0) and reverse pickup (1)| 
| postal_code | pc | postal code of city for which quote has taken |

    + Body

            {
              "pd": [
                {
                  "did": 0,
                  "dl": "22 Aug",
                  "ia": 1,
                  "ps": [
                    {
                      "sid": 0,
                      "sl": "10am-11am",
                      "ia": 1
                    },
                    {
                      "sid": 1,
                      "sl": "11am-12am",
                      "ia": 1
                    },
                    {
                      "sid": 2,
                      "sl": "12am-1am",
                      "ia": 1
                    }
                  ]
                },
                {
                  "did": 1,
                  "dl": "2 Oct",
                  "ia": 0,
                  "ps": [
                    {
                      "sid": 0,
                      "sl": "1am-2am",
                      "ia": 0
                    },
                    {
                      "sid": 1,
                      "sl": "4am-5am",
                      "ia": 0
                    },
                    {
                      "sid": 2,
                      "sl": "5am-6am",
                      "ia": 0
                    }
                  ]
                },
                {
                  "did": 2,
                  "dl": "12 Jan",
                  "ia": 1,
                  "ps": [
                    {
                      "sid": 0,
                      "sl": "1am-2am",
                      "ia": 1
                    },
                    {
                      "sid": 1,
                      "sl": "4am-5am",
                      "ia": 0
                    },
                    {
                      "sid": 2,
                      "sl": "5am-6am",
                      "ia": 0
                    }
                  ]
                },
                {
                  "did": 3,
                  "dl": "3 Jul",
                  "ia": 1,
                  "ps": [
                    {
                      "sid": 0,
                      "sl": "1am-2am",
                      "ia": 0
                    },
                    {
                      "sid": 1,
                      "sl": "4am-5am",
                      "ia": 0
                    },
                    {
                      "sid": 2,
                      "sl": "5am-6am",
                      "ia": 1
                    }
                  ]
                }
              ],
               "al": [
                {
                  "aid": 1,
                  "_r": "Sona Road",
                  "_l": "spaze it park",
                  "_c": "Gurgaon",
                  "_s": "Haryana",
                  "co": "India",
                  "pc": "122001",
                  "fa": "Sona Road, spaze it park, Gurgaon, Haryana",
                  "fn": "223",
                  "lm": "omax mall"
                },
                {
                    "aid": 2,
                    "_r": "New road",
                    "_l": "sector -18",
                     "_c": "Noida",
                    "_s": "Up",
                    "co": "India",
                    "pc": "201301",
                    "fa": "Sona Road, spaze it park, Gurgaon, Haryana",
                    "fn": "223",
                    "lm": "omax mall"
                },
                {
                  "aid": 3,
                  "_r": "Sona Road",
                  "_l": "spaze it park",
                  "_c": "Gurgaon",
                  "_s": "Haryana",
                  "co": "India",
                  "pc": "122001",
                  "fa": "Sona Road, spaze it park, Gurgaon, Haryana",
                  "fn": "223",
                  "lm": "omax mall"
                },
                {
                    "aid": 4,
                    "_r": "New road",
                    "_l": "sector -18",
                     "_c": "Noida",
                    "_s": "Up",
                    "co": "India",
                    "pc": "201301",
                    "fa": "Sona Road, spaze it park, Gurgaon, Haryana",
                    "fn": "223",
                    "lm": "omax mall"
                },
                {
                  "aid": 5,
                  "_r": "Sona Road",
                  "_l": "spaze it park",
                  "_c": "Gurgaon",
                  "_s": "Haryana",
                  "co": "India",
                  "pc": "122001",
                  "fa": "Sona Road, spaze it park, Gurgaon, Haryana",
                  "fn": "223",
                  "lm": "omax mall"
                },
                {
                    "aid": 6,
                    "_r": "New road",
                    "_l": "sector -18",
                     "_c": "Noida",
                    "_s": "Up",
                    "co": "India",
                    "pc": "201301",
                    "fa": "Sona Road, spaze it park, Gurgaon, Haryana",
                    "fn": "223",
                    "lm": "omax mall"
                }
              ],
              "pn" : "Samsung Galaxy",
              "pt" : 1,
              "pc" : "122003"
          
            }            
            

## Schedule Pickup [/schedule-pickup]

Schedule pickup to get device.

+ Fields
    + pd: (json) - data in json form to schedule pickup

### Schedule Pickup [POST]
+ Request (application/json)
| Attributes | Mask | Description |
| --- | --- | --- |
| quote_id | qid | quote id used in sell query |
| address_id | aid | id of the saved address|
| pickup_type | pt | pickup type, forward pickup(0) and reverse pickup (1)|  
| date_label | dl | Date label for the pickup date |
| slot_id | sid | id of pickup slot |
| email_address | ea | email address to send stickers |
    
    + Body
    
            {
                "qid" : "qid_123"
                "aid" : 123,
                "pt" : 0,
                "dl" : "nov 17",
                "sid" : 1,
                "ea" : "user@reglobe.in
            }

+ Response 200 (application/json)
| Attributes | Mask | Description |
| --- | --- | --- |
| status | s | status |
| order_id | oid | id of scheduled order |

    + Body

            {
                "s" : 1,
                "oid" : 123
            }


## Order Detail [/order-detail{?oid}]

Get order detail from order history.

+ Parameters
    + oid : 1 (required, number) - id of order

### Get Order detail [GET]

+ Response 200 (application/json)
| Attributes | Mask | Description |
| --- | --- | --- |
| order_id | oid | id of user order |
| order_mode | om | oder mode ( with coupon(0) or without coupon(1))
| promotional_coupon | pco | promotional coupon |
| coupon_code | cc | coupon code |
|coupon_worth | cw | worth of coupon |
| coupon_image_url | ciu | url of coupon image |
| delivery_msg | dm | delivery message |
| item_name | in | Ordered item name |
| item_price | ip | Ordered item price |
| order_no | on | item order number |
| order_date | od | Order date |
| pickup_address | pa | order pickup adress |
| order_status | os | Order status |
| order_category | oc | Order category (Current Order : 1, Previous Order : 2, Cancelled Order : 3)|
| item_image_url | iu | item image url |
| schedule_date | sd | pick up scheduled date of product |  

    + Body
    
            {
                "oid": 1,
                "om": 1,
                "pco":  {
                            "cc": "CSH213",
                            "cw": 1500,
                            "ciu": "http://amazon.png"
                        },
                "dm" : "A cashify expert will pikup your device and give you cash.",
                "in": "Apple Mackbook Pro 15 Inch",
                "ip": "12500",
                "on": "ABC142",
                "od": "Sep 6",
                "pa": "Sector-44, part 9,Gurgaon, Haryana",
                "os": "Pickup Scheduled",
                "oc": 1,
                "iu": "http://item_image.png",
                "sd" : "12 Mar"
                        
            }
    

## Order History [/order-history]

Show user's order history.

+ Versioning
<table>
    <tr>
        <td>Enable</td>
        <td>false</td>
    </tr>
    <tr>
        <td>Vary By</td>
        <td>pincode</td>
    </tr>
     <tr>
        <td>Partial Versioning</code></td>
        <td>false</td>
    </tr>
</table>

+ Payload-Header
   + X-AUTHORIZATION :"AxATDch"  (required, text)
   + X-USER-AUTH :"user_id"  (required, text)


### Get Order History [GET]
+ Response 200 (application/json)
| Attributes | Mask | Description |
| --- | --- | --- |
| orders_list | ol | Array of user orders |
| order_id | oid | id of user order |
| item_name | in | Ordered item name |
| item_price | ip | Ordered item price |
| order_date | od | Order date |
| order_status | os | Order status |
| order_category | oc | Order category (Current Order : 1, Previous Order : 2, Cancelled Order : 3)|


    + Body

            {
              "ol": [
                {
                  "oid": 1,
                  "in": "Apple Mackbook Pro 15 Inch",
                  "ip": "12500",
                  "od": "Sep 6",
                  "os": "Pickup Scheduled",
                  "oc": 1
                },
                {
                 "oid": 1,
                  "in": "Lenovo kbook Pro 15 Inch",
                  "ip": "12500",
                  "od": "Sep 6",
                  "os": "Cashified",
                  "oc": 2
                },
                {
                  "oid": 1,
                  "in": "Dell Mackbook Pro 15 Inch",
                  "ip": "12500",
                  "od": "Oct 6",
                  "os": "Cancelled",
                  "oc": 3
                },
                {
                  "oid": 1,
                  "in": "Apple Mackbook Pro 15 Inch",
                  "ip": "12500",
                  "od": "Sep 6",
                  "os": "Pickup Scheduled",
                  "oc": 1,
[...]
